body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0;

    font-size: 16px;

    background: linear-gradient(135deg,
            rgb(1, 41, 103) 0%,
            rgb(1, 76, 149) 15%,
            rgb(0, 158, 192) 35%,
            rgb(1, 205, 225) 55%,
            rgb(139, 110, 171) 75%,
            rgb(4, 26, 74) 100%);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.text-highlight {
    font-size: 0.875rem; /* 14px */
    font-weight: 600;
}

.text-heading {
    font-size: 1.0625rem; /* 17px */
    font-weight: 700;
    margin-bottom: 8px;
}

.text-body {
    font-size: 0.9375rem; /* 15px */
    font-weight: 400;
}


header {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: #ddd;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: white;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.post-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.post-card h2 {
    margin-top: 0;
}

.back-link {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 14px;
    background: #4CAF50;
    color: #fff !important;
    border-radius: 6px;
    text-decoration: none;
}

.intro {
    background-image: url(../img/capa_de_fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 20px;
    border-radius: 12px;
    margin: 20px 0;

    color: #fff;
    backdrop-filter: brightness(0.9);
}

.intro p,
.about {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
}

.intro a {
    color: #e7356b;
    font-weight: bold;
    text-decoration: underline;

    text-shadow: 0 0 6px #4caf50,
        0 0 12px #4caf50,
        0 0 18px #4caf50;
}

.intro a:hover {
    color: #81c784;
    text-shadow: 0 0 8px #81c784,
        0 0 16px #81c784,
        0 0 24px #81c784;
}

footer {
    background: #222;
    color: white;
    padding: 5px;
    text-align: center;
}